.pagination {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 30px;
  margin: auto;
  margin-top: -20px;
}

.pagination button {
  background-color: #1a1a1a;
  color: #f3eced;
  border: 3px solid var(--gradient-start);
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pagination button:hover {
  transform: scale(1.05);
  border: 3px solid var(--accent);
}

.pagination button.active-page {
  border: 3px solid var(--accent);
  color: white;
  transform: scale(1.1);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 400px) {
    .pagination {
        gap: 10px;
        justify-content: center;
        margin-top: -30px;
    }

    .pagination button {
        padding: 6px 9px;
    }
}
