.content {
    max-width: 1024px;
    margin-inline: auto;
    padding: 0 20px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 60px;
    animation: fadeInUp 0.8s ease-in-out;
}
  
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }
  .card {
    min-width: 260px;
  }
}